name: CD

on:
  push:
    branches: [main]

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - run: npm ci

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      - name: Build & Push Docker Image
        run: |
          VERSION=$(git describe --tags --abbrev=0)
          echo "Releasing version: $VERSION"
          docker build -t ghcr.io/${{ github.repository_owner }}/accommodation-service:$VERSION .
          docker tag ghcr.io/${{ github.repository_owner }}/accommodation-service:$VERSION ghcr.io/${{ github.repository_owner }}/accommodation-service:latest
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/${{ github.repository_owner }}/accommodation-service:$VERSION
          docker push ghcr.io/${{ github.repository_owner }}/accommodation-service:latest
